node_modules
www/2020
www/2020-root-static.zip
www/data/black-box
www/data/black-box-original
www/data/book-arts
www/data/new-media
www/data/open-call
www/data/open-call-resized
www/data/interaction
www/data/csv
www/data/format*
www/data/resize*
www/data/json/*-original.json
